body {

  color:rgb(0, 0, 0);
  background-color: rgb(200, 102, 3);
  font-size: 16px;
  font-family: 'origami'; 
  /* font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji"; */
  text-align: center;
}

a:link {
  color: #000000;
}
/* visited link */
a:visited {
  color: #000000;
}
/* mouse over link */
a:hover {
  background-color: #99ff00;
}
/* selected link */
a:active {
  color: #000000;
}

.mybody html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  /* align-items: center;  */
}

.mytitle{
  position: absolute; 
  height: 30px;
  color: #000000;
}

.mybox{
  /* position: absolute; /* Required for absolute positioning of the overlay divs */
  border: none;
  margin: auto;
  text-align: center;
  top: 0; 

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full viewport width */
  height: auto; /* Full viewport height */

}

.overlay-base {
  position: relative; /* Position the overlay divs relative to the container */
}
.overlay-base img {
  width: 40%; /* Adjust the width and height of the images as needed */
  height: auto;
}

.overlay-over {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 1000;
}

.overlay-over img{
  width: 40%; /* Adjust the width and height of the images as needed */
}


  
  h1 {
    color: rgb(0, 255, 47);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }


#animation {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 5s infinite;
  }
@keyframes move {
   0% { top: 0; left: 0; }
  25% { top: 0; left: 200px; }
  50% { top: 200px; left: 200px; }
 75% { top: 200px; left: 0; }
100% { top: 0; left: 0; }
}

.sircle {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: transparent; 
  border-radius: 50%; 
  border-color: #000000;
  border: 1px solid;
  box-shadow:  rgba(0, 0, 0, 0.3);
  align-items: center;
  font-family: 'cons'; 
  font-size: 15px; 
  color: rgb(0, 0, 0); 
  justify-content: center; 
  cursor: context-menu;
}

.wifi{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:transparent !important;
  color: #000000;
  border: 1px solid #000000;
  position: relative;
  text-align: center;
  top: 50%;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-family: 'cons'; 
  font-size: 9px;
}


.sensirion{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:transparent;
  border: none;
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;

  margin: 0;
  display: flex;
  justify-content: center;
}

.sensi{
  width: 300px;
  height: 180px;
  background-color:transparent;
  color:lavender;
  margin: 10px;
  text-align: center;
  line-height: 100px;
}

.center {
  border: none;
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
}

.mycontainer {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  position: relative; /* Required for positioning the image */
}

.rotimg {
  width: 100%; /* Make the image fill the container */
  height: auto;
  position: absolute; /* Position the image relative to the container */
  top: 0;
  left: 0;
  animation: rotateAnimation 4s linear infinite; /* Apply the rotation animation */
}

.rota {
  position: absolute; /* Position the image relative to the container */
  top: 0;
  left: 0;
  animation: rotateAnimation 9s linear infinite; /* Apply the rotation animation */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End rotation at 360 degrees (one full rotation) */
  }
}


.mydata{
  position: relative; /* Required for absolute positioning of the overlay divs */
  border: none;
  margin: auto;
  text-align: center;
  top: 0;
  width: 75%;
  height:auto;
  background-color: transparent;
}



.mydata {
  display: flex; /* Use flexbox to control spacing */
  justify-content: center; /* Center the spans horizontally */
  align-items: center; /* Center the spans vertically */
}

.motorbutton {
  display: inline-block;
  width: 54px;
  height: 12px;
  padding: 5px 20px;
  background-color: #00fc00;
  color: #292929;
  cursor: pointer;
  border-radius: 10px; 
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
  font-size: 14px;
  margin: 20;
}

.labelspan,
.dataspan {
  display: inline-block;
  margin: 0;
  /* padding: 10px 20px;  */
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  font-size: 10px;
  height: 15px;
  font-family: 'cons'; 
}

.labelspan {
  background-color: #383900; /* Adjust background color as needed */
  color: white;
}

.dataspan {
  background-color: #666666; /* Adjust background color as needed */
  color: white;
}

.bme {
  background-color: #6f0260; /* Adjust background color as needed */
  color: white;
}
.ds {
  background-color: #181217; /* Adjust background color as needed */
  color: white;
}

@font-face {
  font-family: 'origami';
  /* src: url('data/LowresPixel-Regular.otf') format('opentype'); */
  src: url('origami.ttf') format('truetype');
}

@font-face {
  font-family: 'cons';
  /* src: url('data/LowresPixel-Regular.otf') format('opentype'); */
  src: url('cons.ttf') format('truetype');
}


.log {
  /* display: flex; */
  position: fixed;
  top: 10px; 
  left: 80%; 
  background-color: transparent;
  padding: auto;
  border: 2px solid #000000;
  border-radius: 9px;
  width: 200px;
  height: 350px;
  display: none;
  justify-content: center; 
}


.consol {
  position: relative;
  top: 2px; 
  left: 2px; 
  background-color: #383900;
  border-radius: 9px;
  padding: auto;
  border: none;
  opacity: 1.0; 
  width: 192px;
  height: 290px;
  color: #fafafa;
  font-family: 'cons'; 
  font-size: 12px;
  display: block;
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: #383900 #00ff1e; 
  resize: none;
}

.datalog_button {
  background-color: #383900;
  color: #00ff00;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  font-family: 'origami'; 
  font-size: 12px;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
}

.spiffs-layer {
  position: fixed;
  top: 10px; 
  left: 2%; 
  background-color: transparent;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 9px;
  opacity: 1.0; 
  width: 200px;
  height: 350px;
  color: #00fc00;
  font-family: 'origami'; 
  font-size: 16px;
  display: none;
}
.spiffs-data {
  position: relative;
  padding: 2px;
  border: none;
  color: #ffffff;
  font-family: 'cons'; 
  font-size: 10px;
}

.spiffs-folder {
  position: relative;
  margin-top: 10px;
  padding: 2px;
  border: none;
  background-color: #08fb04;
  color: #000000;
  font-family: 'cons'; 
  font-size: 10px;
  border-radius: 9px;
  opacity: 0.9; 
}

.spiffs-list {
  color: #210014;
  font-family: 'cons'; 
  font-size: 9px;
  text-align: left;
}

.countdown {
  color: #210014;
  font-family: 'cons'; 
  font-size: 16px;
  text-align: center;
  height: 20px;
}

.progress-bar-container {
  width: 200px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border: 1px solid #000000;
}

.progress-bar {
  height: 100%;
  background-color: rgb(0, 255, 0); /* Initial color of the progress bar */
  width: 100%; /* Initial width of the progress bar */
}



